@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

/* background color*/

:root{
    --bg-danger:#f63440;
    --bg-white:#fff;
    --bg-light-white:#f5f5f5;
}



/* text color*/
:root{
    --primary-font:"Poppins", sans-serif;
    --text-color:#fff;
    --text-black:#000;
    --text-danger:red;
    --text-grey:#aaa;
    --text-dark-grey:#777;
}

/*Custom Classes */

body{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background-color: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}

a,a:hover{
    text-decoration: none;
}

p{
    margin: 0;
}

.btn-danger{
    background: var(--bg-danger);
    border-color: var(--bg-danger);
    padding: 0.8rem 0.9rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.btn-danger:hover{
    background: transparent;
    color: var(--bg-danger);
}

/* Nav */
#header .fixed-top{
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 /5%);
}

#header .navbar-nav .nav-item .nav-link{
    color: var(--text-black);
    padding: 0.5rem 1rem;
    text-align: center;
}

#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link:active{
    color: var(--bg-danger);
}

#header .ri-menu-line{
   font-size: 1.555rem;
}

#header .navbar-toggler{
    box-shadow: none;
    border: none;
}

#header .navbar-toggler:focus{
    box-shadow: none;
    border: none;
 }

 /* Home CSS */

 .home .home-banner-1{
    background-image: url('/img/slide1.jpg');
 }

 .home .home-banner-2{
    background-image: url('/img/slide2.jpg');
 }

.home .home-banner-1,
.home .home-banner-2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 550px;
    position: relative;
}

.home .home-banner .home-banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110% , -50%);

}

.home .home-banner .home-banner-text h1{
    font-size: 4rem;
}

.home .carousel-indicators [data-bs-target]{
    background-color: var(--bg-danger);
    width: 2.5rem;
    height: 0.31rem;
}

.home .carousel-control-next-icon,
.home .carousel-control-prev-icon{
    background-color: transparent;
}

.home .slider-icon{
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-danger);
}